<main class="container">
  <div class="row mt-4">
    <div class="col-sm-12 col-md-6 mx-auto">
      <h3 class="mb-4">Photo</h3>
      <% @photos.each do |photo| %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%=link_to photo.user.nickname, user_path(photo.user.id),class: 'text-dark' %></h5>
              <p class = "small"><%= photo.address %></p>
              <%= link_to photo_path(photo.id), class: "text-dark text-decoration-none" do %>
              <div class="justify-content-between">
                <div class="class-description">
                  <p class="card-text"><%= image_tag photo.image, width: '60%'%>
                  <p class="card-text">シャッタースピード:<%= photo.shutter_speed %></p>
                  <p class="card-text">F値:<%= photo.f_number %></p>
                  <p class="card-text">ISO:<%= photo.iso %></p>
                  <details><summary>機材</summary>
                    <p>Camera:<%= photo.camera_name %></p>
                    <p>Lens:<%= photo.lens_name %></p>
                    <p>Accessories:<%= photo.accessories %></p>
                  </details>
                </div>
                <div class="class-button">
                  <%= link_to "参加中", "#", class: "btn btn-sm btn-success" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class = "col-sm-12 col-md-6 mx-auto">
    <h3 class="mb-4">Movie</h3>
      <%# movieについて %>
      <% @videos.each do |video| %>
          <div class="card mb-3 ">
            <div class="card-body">
              <h5 class="card-title"><%= link_to video.user.nickname, user_path(video.user.id),class: 'text-dark' %></h5>
              <%= link_to post_path(video.id), class: "text-dark text-decoration-none" do %>
              <div class=" justify-content-between">
                <div class="class-description">
                  <% if video.video.present? == true %>
                    <%= video_tag(video.video.to_s, :loop => true, :autoplay => true, :muted => true, :width => '100%' , :controls => true, :controlslist => 'nodownload')%>
                  <%  elsif  Post.find_by(video: nil) %>
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%= video.youtube_url[17..28]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe></td>
                  <% else %>
                    <%= link_to video.video_url.to_s do%>
                      <%= video_tag(video.video.to_s, :loop => true, :autoplay => true, :muted => true, :width => '100%' , :controls => true, :controlslist => 'nodownload')%>
                    <% end %>
                  <% end %>
                  <p class="card-text mt-2">コツ:<%= video.tips %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>