<div class="container mt-3">
  <h3 class="mb-4">新規投稿</h3>
  <%# タブボタン %>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a href="#photo" class="nav-link active" data-toggle="tab">Photo</a></li>
    <li class="nav-item"><a href="#b" class="nav-link"data-toggle="tab">Video</a></li>
  </ul>
  <%# タブの中身photo %>
  <div class="tab-content">
    <div id="photo" class="tab-pane active">
      <div class= "card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="class-description pb-3 pt-3">
              <%=form_with model: @photo, local: true, class: 'dropzone',id: 'upload-dropzone' do |f|%>
              <%= render 'shared/error_messages', model: f.object %>
                <div class="fallback col-md-6">
                  <%= f.file_field :image, class: 'pb-3'%>
                </div>
                <div class="col-md-6 ml-6">
                <p>ジャンル<span class="badge badge-danger">必須</span><%= f.text_field :genre, placeholder: "ポートレート"%></p>
                <p>F値<span class="badge badge-danger">必須</span><%= f.text_field :f_number,placeholder: "2.8" %></p>
                <p>シャッタースピード<span class="badge badge-danger">必須</span><%= f.text_field :shutter_speed, placeholder: "1/1000" %></p>
                <p>ISO<span class="badge badge-danger">必須</span><%= f.text_field :iso, placeholder: "100" %>
                <p>撮影した月<span class="badge badge-danger">必須</span><%= f.select :month, Photo.months %></p>
                <h4>使用機材</h4>
                <p>カメラ:<%= f.text_field :camera_name, placeholder: "Sony α7Ⅲ" %></p>
                <p>レンズ:<%= f.text_field :lens_name, placeholder: "Sony 35mm F1.4 GM"%></p>
                <p>アクセサリー:<%= f.text_field :accessories, placeholder: "Kenko Pro 1D PRO SOFTON-A(W)" %></p>
                <%= f.submit '投稿' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# movieのタブの中身 %>
    <div id="b" class="tab-pane">
      <div class= "card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="class-description pb-3 pt-3">
              <%=form_with model: @video, local: true, class: 'dropzone',id: 'upload-dropzone' do |f|%>
              <%= render 'shared/error_messages', model: f.object %>
                <div class="fallback col-md-6">
                  <%= f.file_field :movie, class: 'pb-3'%>
                </div>
                <div class="col-md-6 ml-6">
                <p>YoutubeのURL:<%= f.text_field :youtube_url, placeholder: "ポートレート"%></p>
                <p>撮影した月:<%= f.select :month, Video.months %></p>
                <p>撮影時の解像度・フレームレート:<%= f.text_field :fps, placeholder: "4K 60FPS"%></p>
                <p>撮る上でのコツ:<%= f.text_field :tips, placeholder: ""%>
                <h4>使用機材</h4>
                <p>カメラ:<%= f.text_field :camera_name, placeholder: "Sony α7Ⅲ" %></p>
                <p>レンズ:<%= f.text_field :lens_name, placeholder: "Sony 35mm F1.4 GM"%></p>
                <p>アクセサリー:<%= f.text_field :accessories, placeholder: "Kenko Pro 1D PRO SOFTON-A(W)" %></p>
                <%= f.submit '投稿' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>